/venv
/oldVersions
/screenshots
/things
/__pycache__
ZZ_test.py
pyspark_shell.txt
IoT Engineering Test July 2020 ENG_DLOUKY.docx
Report_IoTtest_DLOUKY_v0.docx
AC_publisher.py
slides.pptx
speech_IoTtest_DLOUKY_v0.docx
~*